<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelService" />
                <binding name="BasicHttpBinding_IHotelService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHotelService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IHotelService1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.tbotechnology.in/HotelAPI_V7/HotelService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelService"
                contract="hotelServiceRef.IHotelService" name="WSHttpBinding_IHotelService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://api.tbotechnology.in/HotelAPI_V7/HotelService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelService1"
                contract="hotelServiceRef.IHotelService" name="WSHttpBinding_IHotelService1" />
            <endpoint address="http://api.tbotechnology.in/HotelAPI_V7/HotelService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService"
                contract="hotelServiceRef.IHotelService" name="BasicHttpBinding_IHotelService" />
            <endpoint address="https://api.tbotechnology.in/HotelAPI_V7/HotelService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService1"
                contract="hotelServiceRef.IHotelService" name="BasicHttpBinding_IHotelService1" />
        </client>
    </system.serviceModel>
</configuration>