<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hotelsDB" value="Data Source=cbdev3;Initial Catalog=hotelsDB;persist security info=True;user id=bery;password=CityBookers;"></add>
    <add key="BusinessRules" value="Data Source=CBDEV3;Initial Catalog=BusinessRulesDB;persist security info=True;user id=bery;password=CityBookers;"></add>
    <add key="SearchDB" value="Data Source=CBDEV3;Initial Catalog=SearchDB;persist security info=True;user id=bery;password=CityBookers;"></add>
    <add key="LogPathdata" value="D:/Hotels.Logs/"></add>
  </appSettings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="hotelsDBEntities" connectionString="metadata=res://*/HotelDB.csdl|res://*/HotelDB.ssdl|res://*/HotelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cbdev3;initial catalog=hotelsDB;persist security info=True;user id=bery;password=CityBookers;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BusinessRulesDBEntities" connectionString="metadata=res://*/BusinessRulesDB.csdl|res://*/BusinessRulesDB.ssdl|res://*/BusinessRulesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CBDEV3;initial catalog=BusinessRulesDB;persist security info=True;user id=bery;password=CityBookers;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesUsers" connectionString="metadata=res://*/Models.Users.csdl|res://*/Models.Users.ssdl|res://*/Models.Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CBDEV3;initial catalog=aspnet-Hotels-20190421120845;user id=bery;password=CityBookers;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SearchDBEntities" connectionString="metadata=res://*/SearchDB.csdl|res://*/SearchDB.ssdl|res://*/SearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SearchDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelBookingDBEntities" connectionString="metadata=res://*/ModelHotelBooking.csdl|res://*/ModelHotelBooking.ssdl|res://*/ModelHotelBooking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=HotelBookingDB;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>