<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!--<connectionStrings>
    <add name="HotelBedEntity" connectionString="metadata=res://*/Models.HotelBeds.csdl|res://*/Models.HotelBeds.ssdl|res://*/Models.HotelBeds.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=HotelBedsIntegration;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=93.115.27.156;Initial Catalog=aspnet-Hotels-20190421120845;persist security info=True;user id=HotelRP;password=Hotel123" providerName="System.Data.SqlClient" />
    -->
	<!--   <add name="DefaultConnection"  connectionString="data source=CBDEV3;initial catalog=HotelBookingDB;user id=bery;password=CityBookers;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	<!--
    <add name="hotelsDBEntities" connectionString="metadata=res://*/HotelDB.csdl|res://*/HotelDB.ssdl|res://*/HotelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=hotelsDB;persist security info=True;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BusinessRulesDBEntities" connectionString="metadata=res://*/BusinessRulesDB.csdl|res://*/BusinessRulesDB.ssdl|res://*/BusinessRulesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=BusinessRulesDB;persist security info=True;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SearchDBEntities" connectionString="metadata=res://*/SearchDB.csdl|res://*/SearchDB.ssdl|res://*/SearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=SearchDB;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelBookingDBEntities" connectionString="metadata=res://*/ModelHotelBooking.csdl|res://*/ModelHotelBooking.ssdl|res://*/ModelHotelBooking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=HotelBookingDB;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesUsers" connectionString="metadata=res://*/Models.Users.csdl|res://*/Models.Users.ssdl|res://*/Models.Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.115.27.156;initial catalog=aspnet-Hotels-20190421120845;user id=HotelRP;password=Hotel123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
	<!--<appSettings>
     
    <add key="LogPathdata" value="c:/Hotels/Logs/" />
    <add key="HBSearchEndPonit" value="https://api.hotelbeds.com/hotel-api/1.0/hotels" />
    <add key="HBToken" value="gsygsenauy2fd3arbwz3u4he" />
    <add key="HBSecret" value="crxt2R5P8F" />
    <add key="HBAvailabilityEndPonit" value="https://api.hotelbeds.com/hotel-api/1.0/checkrates" />
    <add key="HBBookingEndPonit" value="https://api.hotelbeds.com/hotel-api/1.0/bookings" />
    <add key="HBBookingPayEndPonit" value="https://api-secure.hotelbeds.com/hotel-api/1.0/bookings" />
    <add key="HBCancelationEndPonit" value="https://api.hotelbeds.com/hotel-api/1.0/bookings/" />
    <add key="hotelsDB" value="Server=.;Database=hotelsDB;User Id=HotelRP;password=Hotel123;" />
    <add key="HDB_CS" value="Data Source=93.115.27.156;Initial Catalog=hotelsDB;persist security info=True;user id=HotelRP;password=Hotel123;" />
    <add key="BDB_CS" value="Data Source=93.115.27.156;Initial Catalog=BusinessRulesDB;persist security info=True;user id=HotelRP;password=Hotel123;" />
    <add key="SDB_CS" value="Data Source=93.115.27.156;Initial Catalog=SearchDB;persist security info=True;user id=HotelRP;password=Hotel123;" />
    <add key="HB_CS" value="Data Source=93.115.27.156;Initial Catalog=HotelBookingDB;persist security info=True;user id=HotelRP;password=Hotel123;" />
    <add key="SuccessUrl" value="http://93.115.27.156:3041/hotel-paymentresult" />
    <add key="ActionUrl" value="http://93.115.27.156:3030" />
    <add key="BaseCur" value="KWD" />
    <add key="PayLinkDomain" value="http://93.115.27.156:8091" />
    <add key="PayTransactionDomain" value="http://93.115.27.156:8091" />
    <add key="selectedGateway" value="http://93.115.27.156:8091" />
    <add key="SaleRuleUrl" value="http://93.115.27.156:7045" />
    <add key="CurrApi" value="http://93.115.27.156:7045" />
    <add key="MobServerID" value="632387014679" />
    <add key="MobServerKey" value="AAAAkz00EBc:APA91bGCQCoykat89T4nRrz9F0Hfek8k9aHPm64CRErPOt_Xp6qxNRA8td1kse4CtNRscS604qXFczg_tCqglc-YTTEN-fnLgETdM0RB050tAqHHlNhwBINrp_VbiLJMmSz9V1ax2BTL" />
    <add key="metaData" value="http://93.115.27.156:7045" />
    <add key="sendmail" value="http://93.115.27.156:8070" />
  </appSettings>-->

	<connectionStrings>
		<!--<add name="TBOHotelsDB"
        connectionString="data source =.; initial catalog = TBOHotels; integrated security = True; MultipleActiveResultSets=True;"
        providerName="System.Data.SqlClient"/>-->
		<add name="TBOHotelsDB" connectionString="data source = 49.12.83.231; initial catalog = TBOHotels;persist security info=True;User ID=RPTeam;Password=Round2020; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="HotelBedEntity" connectionString="metadata=res://*/Models.HotelBeds.csdl|res://*/Models.HotelBeds.ssdl|res://*/Models.HotelBeds.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49.12.83.231;initial catalog=HotelBedsIntegration;User ID=RPTeam;Password=Round2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=aspnet-Hotels-20190421120845;persist security info=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<!--<add name="DefaultConnection"  connectionString="data source=CBDEV3;initial catalog=HotelBookingDB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<add name="hotelsDBEntities" connectionString="metadata=res://*/HotelDB.csdl|res://*/HotelDB.ssdl|res://*/HotelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49.12.83.231;initial catalog=hotelsDB;persist security info=True;User ID=RPTeam;Password=Round2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="BusinessRulesDBEntities" connectionString="metadata=res://*/BusinessRulesDB.csdl|res://*/BusinessRulesDB.ssdl|res://*/BusinessRulesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49.12.83.231;initial catalog=BusinessRulesDB;persist security info=True;User ID=RPTeam;Password=Round2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SearchDBEntities" connectionString="metadata=res://*/SearchDB.csdl|res://*/SearchDB.ssdl|res://*/SearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49.12.83.231;initial catalog=SearchDB;User ID=RPTeam;Password=Round2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HotelBookingDBEntities" connectionString="metadata=res://*/ModelHotelBooking.csdl|res://*/ModelHotelBooking.ssdl|res://*/ModelHotelBooking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49.12.83.231;initial catalog=HotelBookingDB;User ID=RPTeam;Password=Round2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="EntitiesUsers" connectionString="metadata=res://*/Models.Users.csdl|res://*/Models.Users.ssdl|res://*/Models.Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=49.12.83.231;initial catalog=aspnet-Hotels-20190421120845;Integrated Security=True;User ID=RPTeam;Password=Round2020;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<appSettings>
		<!--Tbo-->
		<add key="TBOEndPoint" value="https://api.tbotechnology.in/hotelapi_v7/hotelservice.svc"/>
		<add key="TBOUserName" value="elhoorTest"/>
		<add key="TBOPassword" value="Elh@71526841"/>

		<add key="LogPathdata" value="D:/Hotels.Logs/"></add>
		<add key="HBToken" value="t4g8uy2qkvkb4wj5bc9q37k2" />
		<add key="HBSecret" value="SjxGKSA37w" />

		<add key="HBSearchEndPonit" value="https://api.test.hotelbeds.com/hotel-api/1.0/hotels"/>
		<add key="HBAvailabilityEndPonit" value="https://api.test.hotelbeds.com/hotel-api/1.0/checkrates" />
		<add key="HBBookingEndPonit" value="https://api.test.hotelbeds.com/hotel-api/1.0/bookings" />
		<add key="HBBookingPayEndPonit" value="https://api-secure.test.hotelbeds.com/hotel-api/1.0/bookings" />
		<add key="HBCancelationEndPonit" value="https://api.test.hotelbeds.com/hotel-api/1.0/bookings/" />

		<!-- <add key="hotelsDB" value="Server=.;Database=hotelsDB;Integrated Security=True;" /> -->

		<add key="hotelsDB" value="Data Source49.12.83.231;Initial Catalog=hotelsDB;persist security info=True;User ID=RPTeam;Password=Round2020;" />
		<add key="HDB_CS" value="Data Source49.12.83.231;Initial Catalog=hotelsDB;persist security info=True;User ID=RPTeam;Password=Round2020;" />
		<add key="BDB_CS" value="Data Source=49.12.83.231;Initial Catalog=BusinessRulesDB;persist security info=True;User ID=RPTeam;Password=Round2020;" />
		<add key="SDB_CS" value="Data Source=49.12.83.231;Initial Catalog=SearchDB;persist security info=True;User ID=RPTeam;Password=Round2020;" />
		<add key="HB_CS" value="Data Source=49.12.83.231;Initial Catalog=HotelBookingDB;persist security info=True;User ID=RPTeam;Password=Round2020;" />
		<add key="SuccessUrl" value="http://93.115.26.66:8888/hotel-paymentresult" />
		<add key="ActionUrl" value="http://93.115.26.66:3040/" />
		<add key="BaseCur" value="KWD" />
		<add key="PayLinkDomain" value="https://prepayapi.khaleejgate.com/" />
		<add key="PayTransactionDomain" value="https://prepayapi.khaleejgate.com/" />
		<add key="selectedGateway" value="https://prepayapi.khaleejgate.com/" />
		<add key="SaleRuleUrl" value="https://adminapi.khaleejgate.com/" />
		<add key="CurrApi" value="https://adminapi.khaleejgate.com/" />
		<add key="MobServerID" value="632387014679" />
		<add key="MobServerKey" value="AAAAkz00EBc:APA91bGCQCoykat89T4nRrz9F0Hfek8k9aHPm64CRErPOt_Xp6qxNRA8td1kse4CtNRscS604qXFczg_tCqglc-YTTEN-fnLgETdM0RB050tAqHHlNhwBINrp_VbiLJMmSz9V1ax2BTL" />
		<add key="metaData" value="https://adminapi.khaleejgate.com/" />

		<!-- EUR for Testing Cred -->
		<!-- AED for Live Cred -->
		<add key="HotelBedsCurency" value="EUR" />
		<add key="BookNoPrefix" value="KST" />



	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
		</modules>

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.1" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<!--TBO Binding Configurations-->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHotelService" />
				<binding name="BasicHttpBinding_IHotelService1"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						   maxArrayLength="200000000"
						   maxStringContentLength="200000000"/>

					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IHotelService"
						 maxReceivedMessageSize="20000000"
						 maxBufferPoolSize="20000000">

					<readerQuotas maxDepth="32"
						   maxArrayLength="200000000"
						   maxStringContentLength="200000000"/>
					<security mode="Transport" />
				</binding>
				<binding name="WSHttpBinding_IHotelService1">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://aetmtest.tboholidays.com/HotelAPI_V7/HotelService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelService" contract="hotelServiceRef.IHotelService" name="WSHttpBinding_IHotelService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://api.tbotechnology.in/HotelAPI_V7/HotelService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelService1" contract="hotelServiceRef.IHotelService" name="WSHttpBinding_IHotelService1" />
			<endpoint address="http://aetmtest.tboholidays.com/HotelAPI_V7/HotelService.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService" contract="hotelServiceRef.IHotelService" name="BasicHttpBinding_IHotelService" />
			<endpoint address="https://api.tbotechnology.in/HotelAPI_V7/HotelService.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService1" contract="hotelServiceRef.IHotelService" name="BasicHttpBinding_IHotelService1" />
		</client>
	</system.serviceModel>
</configuration>